body {
    background-color: oldlace;
    font-family: 'Montserrat', sans-serif;
    color: #28243E;
    text-align: center;
}

header{ 
    text-decoration: underline overline;        /* decorating page title*/
}

p{                                          /* formatting general journal entries */
    margin: 5px 20vw 5px 25vw;
    padding: 5vh;
    border-style: solid;
    border-width: 0.5vmax;
    border-color: rgb(220,214,186);
    border-radius: 1em;

}

form{
    margin-top: 5pt;                        /*customizing mock journal entry*/
    margin-bottom: 5pt;
    margin-left: 20vw;
    margin-right: 20vw;

    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;

    border-style: solid;
    border-width: 0.2vmax;
    border-color: hsl(48,46,88);
    border-radius: 1em;

}

#reminder{                              
height: 0.5in;
width: 6in;
margin:auto;
}

a:active{
    font-size: 130%;                   /*highlighting hovered links*/
}

.button{
    background-color: white;
    color: black;
}

.button:hover{
    background-color: violet;           /*highlighting active links*/
}

#ad{                              /*creating adblock notification for "position" req*/
position: fixed;
top: 0;
width: 500px;
border: 3px solid red;
}

ol,ul{
    border-style: dotted;               /*customizing lists to match paragraphs*/
    border-width: 0.5vmax;
    border-color:hsl(48,46,88);
    border-radius: 1em;
    position: static;
    text-align: center;
    max-width: 500px;
    margin:auto;
    color:sienna;
}

h1,h2,h3,h4{
    text-align:center;
}

h2{
    display: block;
}

#audio{
    display:inline;
}

.grids{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: thistle;
    margin: 200px;
    justify-content: center;
  }
  
  .grids > div {
      background-color: wheat;
      padding: 3px;
      
  }

  .flexbox {
    display: flex;
    background-color:thistle;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flexbox > div {
    background-color:wheat;
    margin: 200px;
    text-align:center;
  }

  @media only screen and (max-width: 400px){
      body{
          background-color:white;
      }
  }
